// 3-mixin_margins.scss

// Define a mixin for left and right margins
@mixin horizontal-margin($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

// Apply mixin to body and div
body {
  @include horizontal-margin(10px, 10px);
}

div {
  @include horizontal-margin(15px, 15px);
}
